@model SISTEMA_EQUIVALENCIAS.Models.USUARIO

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CLAVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTUDIANTE.PRIMER_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTUDIANTE.PRIMER_NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.NOMBRE }) |
    @Html.ActionLink("Regresar", "Index")
</p>
