@model IEnumerable<SISTEMA_EQUIVALENCIAS.Models.USUARIO>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Usuarios</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Usuario")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ESTUDIANTE.PRIMER_NOMBRE)*@
            @Html.DisplayName("Clave")
        </th>

        <th>
            @*@Html.DisplayNameFor(model => model.ESTUDIANTE.PRIMER_NOMBRE)*@
            @Html.DisplayName("No de Carnet")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ESTUDIANTE.PRIMER_NOMBRE)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLAVE)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.NO_CARNET)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.NOMBRE }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.NOMBRE }) |
            @Html.ActionLink("Remover", "Delete", new { id = item.NOMBRE })
        </td>
    </tr>
}

</table>
